@font-face{
    font-family: "KaiseiDecol-Regular";
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "NanumMyeongjo";
    src: url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-title {
    font-size: 1.2rem;
    font-family: "KaiseiDecol-Regular";
    color: whitesmoke;
}

.footer-subtitle{
    font-family:"NanumMyeongjo";
    color: whitesmoke;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color:#343434;
    padding: 52px 72px;
}

.info-text-row{
    display: flex;
    gap: 16px;

}

.info-text-wrapper{
    display: flex;
    gap: 16px;
    font-family: "NanumMyeongjo";
}

.info-text-1{
    color: whitesmoke;
}

.info-text-2{
    color: whitesmoke;
}