@font-face {
    font-family: "KaiseiDecol-Regular";
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    font-size: 22px;
    font-family: "KaiseiDecol-Regular";
    z-index: 1;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4)
  );
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }
  
  header[data-page="mypage"] {
    background-color: #e7eff5;
  }
  
  .logo a {
    text-decoration: none;
    color: #f5f2e9;
    font-size: 22px;
  }
  
  header[data-page="mypage"] .logo a {
    color: #3a3a3a;
  }
  
  .nav-menu {
    display: flex;
    gap: 30px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #ffffff;
  }
  
  header[data-page="mypage"] .nav-menu a {
    color: #b8bac6;
  }
  
  .nav-menu a:hover,
  .nav-menu a:focus,
  .nav-menu a.active {
    color: #d3b37a;
  }
  
  header[data-page="mypage"] .nav-menu a:hover,
  header[data-page="mypage"] .nav-menu a:hover,
  header[data-page="mypage"] .nav-menu a.active {
    color: #3a3a3a;
  }